body {
    color: #464646;
    font-weight: bold;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    background-image: url(night.png);
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

.parent-container {
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.9;
}

.loginholder {
    padding: 25px 50px 25px 50px;
    background-color: #00000000;
    display: inline-block;
}

.inputbox {
    border: 2px solid #464646;
    padding: 5px;
    width: 300px;
    color: #fff;
    background-color: #000;
    border-radius: 0px;
    transition: all 0.5s;
    font-weight: normal;
}

    .inputbox:focus, .inputbox:hover {
        border: 2px solid blue;
        color: #fff;
        background-color: #000;
        font-weight: bold;
    }

h2, .labelc, h1, h3, h4, h5 {
    padding: 0px;
    margin: 0px;
    color: #fff;
}

.btn-normal {
    padding: 5px 40px;
    color: #fff;
    background-color: #000;
    transition: all 0.5s;
    border-radius: 5px;
    border: 2px solid #fff;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

    .btn-normal:focus, .btn-normal:hover {
        color: #000;
        border: 2px solid #000;
        background-color: #fff;
        text-decoration: none;
    }

.forgetpassword {
    font-weight: bold;
    color: blue;
}

    .forgotpassword:hover, .forgetpassword:focus {
        color: black;
    }

.btn-normal-logo {
    color: #fff;
    background-color: #000;
    border: 2px solid #fff;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

    .btn-normal-logo:focus, .btn-normal-logo:hover {
        border: 2px solid blue;
        color: blue;
    }